{% extends 'base.html' %} 
{% load static  %} {% block content %} {% block css %}
{% block title %} | Add Your Property Right Here {% endblock %}


{% block content %}
<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">Add Your Property Right Here</h1>
          <p class="lead">For Just £10!!</p>
        </div>
      </div>
    </div>

<form method="POST" action="">

{% csrf_token %}
{{ form }}
<input type="submit" value ="Save">   
  </form>   
{% endblock %}
